
{% extends 'base.html.twig' %}
{% block title %}Edit Artcile 
{% endblock %}
{% block body %}
	<div class="content">
		<h5 class="head"> Modifier  cet articl </h5>
			{{ form_start(form) }}
			{{ form_errors(form.title) }}
		<div class="form-group ">
			{{ form_label(form.title, 'Titre',{ 'label_attr': {'class': 'control-label'}})}}   
			{{ form_widget(form.title, {'attr': { 'class': 'form-control'} })  }}

		</div>
		<div class="form-group ">
			{{ form_label(form.url, 'URL',{ 'label_attr': {'class': 'control-label'}})}}   
			{{ form_widget(form.url, {'attr': { 'class': 'form-control'} })  }}
		</div>
		<div class="form-group ">
			{{ form_label(form.picture, 'Image (url)',{ 'label_attr': {'class': 'control-label'}})}}   
			{{ form_widget(form.picture, {'attr': { 'class': 'form-control'} })  }}
		</div>
		<div class="form-group ">
			{{ form_label(form.content, 'Contenu',{ 'label_attr': {'class': 'control-label'}})}}   
			{{ form_widget(form.content, {'attr': { 'class': 'ckeditor'} })  }}
	     </div>

		<div class="form-group ">
			{{ form_widget(form.save, {'attr': { 'class': 'btn btn-success'} })  }}
			{{ form_end(form) }}
			<a href="{{ url('index') }}" type="button" class="btn btn-warning">Cancel</a>
		</div>

	</div>
{% endblock %}